@()(implicit flash: Flash, lang: Lang, session : Session)

@import play.api._
@import play.api.data.Form
@import play.api.data.Forms.{mapping, nonEmptyText}
@import play.api.i18n.Messages
@import play.api.mvc.{Action, Controller, Flash}
@import play.api.Play.current
@import play.api.data.Forms.{longNumber, mapping, nonEmptyText}
@import play.api.i18n.Messages.Implicits._
@import views.html.helper.form

@sidebar = {
<ul>
    <li><a href="@routes.BrowseController.list">Categories</a></li>
    <li><a href="@routes.BrowseController.list">Gnomes</a></li>
    <li><a href="@routes.BrowseController.list">Tools</a></li>
    <li><a href="@routes.BrowseController.list">Gardening<br>Supplies</a></li>
    <li><a href="@routes.BrowseController.list">Outdoor<br>Equipment</a></li>
</ul>
}

@main(Messages("browse.page"))(sidebar) {

    <div id="content">
        <div class="container_12">
            <div class="title">
                <h2>Our Gallery</h2>
            </div>
            <div class="gallery">
                <div class="grid_3">
                    <a href="images/big1.jpg" class="gal">
                        <div class="img_block">
                            <img src="images/page3_img1.jpg" alt="" class="img_inner">
                        </div>
                    </a>
                    <div class="title"><a href="#">Vivamus at magna</a></div>
                </div>
                <div class="grid_3">
                    <a href="images/big2.jpg" class="gal">
                        <div class="img_block">
                            <img src="images/page3_img2.jpg" alt="" class="img_inner">
                        </div>
                    </a>
                    <div class="title"><a href="#">Phasellus accumsan</a></div>
                </div>
                <div class="grid_3">
                    <a href="images/big3.jpg" class="gal">
                        <div class="img_block">
                            <img src="images/page3_img3.jpg" alt="" class="img_inner">
                        </div>
                    </a>
                    <div class="title"><a href="#">Aliquam nibhi</a></div>
                </div>
                <div class="grid_3">
                    <a href="images/big4.jpg" class="gal">
                        <div class="img_block">
                            <img src="images/page3_img4.jpg" alt="" class="img_inner">
                        </div>
                    </a>
                    <div class="title"><a href="#">Etiam non rutrum</a></div>
                </div>
                <div class="clear cl2"></div>
                <div class="grid_3">
                    <a href="images/big5.jpg" class="gal">
                        <div class="img_block">
                            <img src="images/page3_img5.jpg" alt="" class="img_inner">
                        </div>
                    </a>
                    <div class="title"><a href="#">Suspendissttitor</a></div>
                </div>
                <div class="grid_3">
                    <a href="images/big6.jpg" class="gal">
                        <div class="img_block">
                            <img src="images/page3_img6.jpg" alt="" class="img_inner">
                        </div>
                    </a>
                    <div class="title"><a href="#">Enim non lacus</a></div>
                </div>
                <div class="grid_3">
                    <a href="images/big7.jpg" class="gal">
                        <div class="img_block">
                            <img src="images/page3_img7.jpg" alt="" class="img_inner">
                        </div>
                    </a>
                    <div class="title"><a href="#">Curabitur rutrum</a></div>
                </div>
                <div class="grid_3">
                    <a href="images/big8.jpg" class="gal">
                        <div class="img_block">
                            <img src="images/page3_img8.jpg" alt="" class="img_inner">
                        </div>
                    </a>
                    <div class="title"><a href="#">Maecenas esto</a></div>
                </div>
            </div>
        </div>
    </div>
}