@(categories: List[Category])(implicit flash: Flash, lang: Lang, session : Session)

@import play.api._
@import play.api.data.Form
@import play.api.data.Forms.{mapping, nonEmptyText}
@import play.api.i18n.Messages
@import play.api.mvc.{Action, Controller, Flash}
@import play.api.Play.current
@import play.api.data.Forms.{longNumber, mapping, nonEmptyText}
@import play.api.i18n.Messages.Implicits._
@import views.html.helper.form

@sidebar = {
<ul>
    <li><a href="@routes.BrowseController.categoryList">Categories</a></li>
    <li><a href="@routes.BrowseController.categoryList">Gnomes</a></li>
    <li><a href="@routes.BrowseController.categoryList">Tools</a></li>
    <li><a href="@routes.BrowseController.categoryList">Gardening<br>Supplies</a></li>
    <li><a href="@routes.BrowseController.categoryList">Outdoor<br>Equipment</a></li>
</ul>
}


@main(Messages("browseCategory.page"))(sidebar) {

    <div style="margin-left: 0px;">
        <div id="homeBanner">

            <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner1.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px; margin-left: 200px;"/></a>
            <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner2.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
            <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner3.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
        </div>
    </div>

    <div class ="line"></div>

    <div id="content" style="height: 1950px;">
        <div class="container_12">
            <div class="title">
                <div class="fontTypeD" style="padding-bottom: 50px;">Category</div>
            </div>
            <div class="gallery">
                @for(cat <- categories) {
                    <div class="borderGrid">
                        <div class="grid_3" style="text-align: left; width: 268px;">
                            <a href="@routes.Assets.versioned(cat.imgL)" class="gal">
                                <div class="img_block" style="padding: 10px 10px 20px 10px;">
                                    <img src="@routes.Assets.versioned(cat.imgL)" alt="" class="img_inner">
                                </div>
                            </a>
                            <div class="title" style="text-align: left;">
                                <div style="height: 130px;">
                                    <a href="@routes.BrowseController.productList(cat.catName)"><dt>@cat.catName</dt></a>
                                    <dt style="font-size: 14px;">@cat.description</dt>
                                </div>
                                <a href="@routes.BrowseController.productList(cat.catName)">
                                    <input type="submit" class="btn-primary" value="Have a Look" style="width:110px;"/>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}