@(products: List[Product], CartForm: Form[aFormForCart])(implicit flash: Flash, lang: Lang, session : Session)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import models.{Cart}
@import helper._



@sidebar = {
<ul>
    <li><a href= browse >Categories</a></li>
    <li><a href="news.asp">Gnomes</a></li>
    <li><a href="contact.asp">Tools</a></li>
    <li><a href="about.asp">Gardening Supplies</a></li>
    <li><a href="about.asp">Outdoor Equipment</a></li>
</ul>
}

@main(Messages("cartpage.page"))(sidebar) {

<div id="content">
    <div class="container_12">
        <div class="title">
            <h2>My Cart
                <a class="button browse" href="@routes.BrowseController.list">Continue Shopping</a><a class="button toPay" href="">To Pay</a>

            </h2>
        </div>
        <div class="gallery">
            @for(product <- products) {
                @helper.form(routes.CartController.update) {
                    <div class="grid_3">
                        <a href="@routes.Assets.versioned(product.imgL)" class="gal">
                            <div class="img_block">
                                <img src="@routes.Assets.versioned(product.imgS)" alt="" class="img_inner">
                            </div>
                        </a>
                        <div class="title">
                            <dt>Name: @product.Name</dt>
                            <dt>Description: @product.description</dt>
                            <dt>Price: @product.price</dt>
                            <dt>Qty: @product.need</dt>

                            <input type="hidden" name="Product" value="@product.Name">
                            <input name="Qty">

                            <input type="submit" class="btn-primary" value="Update Qty" style="width:110px;"/>

                            <a class="button delete" href="@routes.CartController.remove(product.Name)">Delete</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

}