@(email: String)(implicit flash: Flash, lang: Lang))

@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash


@sidebar = {
<ul>
    <li><a href="default.asp">Categories</a></li>
    <li><a href="news.asp">Gnomes</a></li>
    <li><a href="contact.asp">Tools</a></li>
    <li><a href="about.asp">Gardening<br>Supplies</a></li>
    <li><a href="about.asp">Outdoor<br>Equipment</a></li>
</ul>
}

@main(Messages("home.page"))(sidebar) {
<h1> CONGRATULATIONS @email </h1>
}