@()(implicit flash: Flash, lang: Lang, session : Session)

@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash

@sidebar = {
<ul>
    <li><a href="@routes.BrowseController.categoryList">Categories</a></li>
    <li><a href="@routes.BrowseController.categoryList">Gnomes</a></li>
    <li><a href="@routes.BrowseController.categoryList">Tools</a></li>
    <li><a href="@routes.BrowseController.categoryList">Gardening<br>Supplies</a></li>
    <li><a href="@routes.BrowseController.categoryList">Outdoor<br>Equipment</a></li>
</ul>
}

@main(Messages("createAccount.page"))(sidebar) {
    <div id="content">
        <br> <br> <br> <br> <br>
        <h2>Create Account</h2>
        <form action="#" method="post">
            <div class="field">
                <label>First Name:</label>
                <input type="userFN" name="userFN"/>
            </div>
            <div class="field">
                <label>Family Name:</label>
                <input type="userSN" name="userSN"/>
            </div>
            <div class="field">
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <div class="field">
                <label>Confirm Password:</label>
                <input type="ConfirmP" name="ConfirmP"/>
            </div>
            <div class="field">
                <label>Email:</label>
                <input type="email" name="email"/>
            </div>
            <div class="field">
                <label></label>
                <input type="submit" name="submit"/>
            </div>
        </form>
    </div>
}