<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet"type="text/CSS" href="websiteStyle.css"/>
    <title>Create Account</title>
</head>
<body>

    <div id="menu">
        <a href= "Home.html"><img src="img/NBGardens.png" alt="NB Gardens Logo" /></a>
        <div id="icons" style="float:right; margin-right:20px; font-size:0px;">
            <a href= "Home.html"><div id="icon1"></div></a>
        </div>
    </div>


    <div id="sidebar">
        <ul>
            <li><a href="default.asp">Categories</a></li>
            <li><a href="news.asp">Gnomes</a></li>
            <li><a href="contact.asp">Tools</a></li>
            <li><a href="about.asp">Gardening Supplies</a></li>
            <li><a href="about.asp">Outdoor Equipment</a></li>
        </ul>
    </div>

    <div id="content">
        <br> <br> <br> <br> <br>
        <h2>Create Account</h2>
        <form action="#" method="post">
            <div class="field">
                <label>First Name:</label>
                <input type="userFN" name="userFN"/>
            </div>
            <div class="field">
                <label>Family Name:</label>
                <input type="userSN" name="userSN"/>
            </div>
            <div class="field">
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <div class="field">
                <label>Confirm Password:</label>
                <input type="ConfirmP" name="ConfirmP"/>
            </div>
            <div class="field">
                <label>Email:</label>
                <input type="email" name="email"/>
            </div>
            <div class="field">
                <label></label>
                <input type="submit" name="submit"/>
            </div>
        </form>
    </div>


    <div id="footer">
        <a href= "https://www.facebook.com"><img src="img/iconfb.png" alt="Facebook" WIDTH="40px" HEIGHT="40px" style=" padding-bottom: 10px; padding-right: 40px;"/></a>
        <a href= "Home.html"><img src="img/NBGardens.png" alt="NB Gardens Logo" WIDTH="auto" HEIGHT="70px" style=" padding-top: 15px;"/></a>
        <a href= "https://twitter.com/"><img src="img/icontw.png" alt="Twitter" WIDTH="40px" HEIGHT="40px" style=" padding-bottom: 10px; padding-left: 40px;"/></a>
        <br>
    </div>

</body>
</html>