@(cust: List[CustomerDetails])(implicit lang: Lang, flash: Flash, session : Session)

@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import helper._
@import play.api._
@import play.api.data.Form
@import play.api.data.Forms.{mapping, nonEmptyText}
@import play.api.mvc.{Action, Controller, Flash}
@import play.api.data.Forms.{longNumber, mapping, nonEmptyText}
@import views.html.helper.form

@sidebar = {

}

@main(Messages("customerAll.page"))(sidebar) {
<dl class="customer">
    @for(p <- cust) { <dt>
    <a
        href="@controllers.routes.RegistrationController.show">@p.username</a>
</dt>
    <dd>@p.firstName</dd>
    <dd>@p.lastName</dd>
    <dd>@p.email</dd>
    <dd>@p.telephone</dd>
    <dd>@p.username</dd> }
</dl>
}
