@()(implicit flash: Flash, lang: Lang, session : Session)

@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash

@sidebar = {
<ul>
    <li><a href="@routes.BrowseController.categoryList">Categories</a></li>
    <li><a href="@routes.BrowseController.productList("Gnomes")">Gnomes</a></li>
    <li><a href="@routes.BrowseController.productList("Garden Tools")">Tools</a></li>
    <li><a href="@routes.BrowseController.productList("Gardening Supplies")">Gardening<br>Supplies</a></li>
    <li><a href="@routes.BrowseController.productList("Outdoor Equipment")">Outdoor<br>Equipment</a></li>
</ul>
}

@main(Messages("help.page"))(sidebar) {

<div id="content">
    <div id="contactheader" style="padding-top: 20px; padding-bottom: 50px; margin-left: -900px;">NG Gardens' Help & Support</div>
    <div id="helpcont" style="margin-left: 40px;">

        <b>Sign up for NB Gardens account</b><br>

        <p>It's free to create an NB Gardens account.<br>
        Visit the NB Gardens registration page.<br>
        Follow the steps on the screen to complete your account setup.<br>
        After you've created your NB Gardens Account, you can use it to sign in to NB Gardens and make purchases.</p>

        <em>Q: The username I want is taken</em>
        <p>You won't be able to get an NB Gardens address if:<br>

        The exact username you requested is already being used.<br>
        The username was used by someone in the past, and they deleted their account.</p>

        <em>Q: How do I edit my account details?</em>
        <p>Visit your account page. <br>
        Click the edit account details link.<br>
        Follow the steps on the screen to complete the changes to your account.<br>
        After saving these changes you are now able to resume making your purchases with ease.</p>

        <em>Q: How do I search and browse for items?</em>
        <p>If you're looking for a specific item, enter a few words into the search box on the NB Gardens home page and we'll show you all the matching results. <br><br>
        <strong>Note:</strong> The only information we have about a particular item is what we display on the product detail page for that item. Details usually include customer reviews, which can sometimes provide helpful information about content and product compatibility.
        </p>



    </div>

</div>
}
