@(Orders: List[Orders])(implicit flash: Flash, lang: Lang, session : Session)

@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash

@sidebar = {
<ul>
    <li><a href="@routes.BrowseController.categoryList">Categories</a></li>
    <li><a href="@routes.BrowseController.categoryList">Gnomes</a></li>
    <li><a href="@routes.BrowseController.categoryList">Tools</a></li>
    <li><a href="@routes.BrowseController.categoryList">Gardening<br>Supplies</a></li>
    <li><a href="@routes.BrowseController.categoryList">Outdoor<br>Equipment</a></li>
</ul>
}

@main(Messages("listResult.page.page"))(sidebar) {

<script language="JavaScript">
function getQty(){
var value = get.Qty.value;
value
}
</script>


<div id = "pageStart">
</div>

<div style="margin-left: 150px;">
    <div id="homeBanner">
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner1.png")" alt="Delivery" style="padding-bottom: 20px; padding-right: 40px; margin-left:200px;"/></a>
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner2.png")" alt="Delivery" style="padding-bottom: 20px; padding-right: 40px;"/></a>
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner3.png")" alt="Delivery" style="padding-bottom: 20px; padding-right: 40px;"/></a>
    </div>
</div>

<div class ="line"></div>

<div id="content" style="height: 1950px;">
    <div class="container_12">
        <div class="title">
            <div class="fontTypeD" style="padding-bottom: 50px;">Order History</div>
        </div>
        @for (order <- Orders) {
        <dt style="font-size:14px;">Description: @order.product</dt>
        }
    </div>
</div><br>

}