@(Orders: List[Order])(implicit flash: Flash, lang: Lang, session : Session)

@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash


@sidebar = {
<ul>
    <li><a href= browse >Categories</a></li>
    <li><a href="news.asp">Gnomes</a></li>
    <li><a href="contact.asp">Tools</a></li>
    <li><a href="about.asp">Gardening Supplies</a></li>
    <li><a href="about.asp">Outdoor Equipment</a></li>
</ul>
}

@main(Messages("listResult.page.page"))(sidebar) {

<script language="JavaScript">
function getQty(){
var value = get.Qty.value;
value
}
</script>


<div id = "pageStart">
</div>

<div style="margin-left: 150px;">
    <div id="homeBanner">
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner1.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px; margin-left: 200px;"/></a>
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner2.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner3.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
    </div>
</div>

<div class ="line"></div>

<div id="content" style="height: 1950px;">
    <div class="container_12">
        <div class="title">
            <div class="fontTypeD" style="padding-bottom: 50px;">Order History</div>
        </div>
        <h1> hi </h1>
        @for(order <- Orders) {
        <div style="height: 130px; margin-top:400px;">
            <h1 style="font-size: 14px;">Date/Time: @order.datetime</h1>
            <h1 style="font-size: 14px;">Order Id: @order.ordId</h1>
            <h1 style="font-size: 14px;">Order Contents: @order.carts</h1>
            <h1 style="font-size: 14px;">Status: @order.status</h1>
        </div>

        <div class="fontTypeE" style=""><a href="@routes.OrderHistoryController.track(order.ordId)"><br>Track Order</a></div>
        }


    </div>
</div>

<br>
}

