<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/CSS" href="@routes.Assets.versioned("stylesheets/websiteStyle.css")"/>
    <link rel="stylesheet" type="text/CSS" href="http://fonts.googleapis.com/css?family=Raleway:400,600""/>

    <title>NB Gardens</title>
</head>

<body>

<div id="menu">

    <a href= "Home.html"><img src="@routes.Assets.versioned("images/NBGardens.png")" alt="NB Gardens Logo" /></a>

    <div id="searchBar">
        <form action="\entity.CustomerDetails">
            <input type="text" name="Search" class="mytext" style="width: 300px;" placeholder="Search.."><br>
        </form>
    </div>
    <div id="searchBarImg"><a href= "Home.html"><img src="@routes.Assets.versioned("images/search.png")" alt="Search Icon" /></a></div>


    <div id="icons" style="float:right; margin-right:20px; font-size:0px;">

        <a href= "home.scala.html"><div id="icon1"></div></a><a href= "home.scala.html"><div id="trolley"></div></a>
    </div>

</div>

<div id="sidebar">

    <ul>
        <li><a href="default.asp">Categories</a></li>
        <li><a href="news.asp">Gnomes</a></li>
        <li><a href="contact.asp">Tools</a></li>
        <li><a href="about.asp">Gardening<br>Supplies</a></li>
        <li><a href="about.asp">Outdoor<br>Equipment</a></li>
    </ul>

</div>

<div id="pageStart">
</div>

<div style="margin-left: 150px;">

<div id="homeBanner">

    <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner1.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
    <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner2.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
    <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner3.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
    </div>


<div class ="line">

</div>


<div id="content">

    <a href="home.scala.html"><img src="@routes.Assets.versioned("images/gnomeBanner.png")" alt="Fresh Gnomes Str8 from the block." style="width: 1200px; display:block; margin-left: auto; margin-right: auto;"/></a>


    <a href="home.scala.html"><img src="@routes.Assets.versioned("images/special2.jpg")" alt="InitialD" style=" margin-left: 0px; width: 474px; display:inline-block; padding: 50px 10px 0px 0px; "/></a>
    <a href="home.scala.html"><img src="@routes.Assets.versioned("images/special3.jpg")" alt="Deals" style="width: 474px; display:inline-block;"/></a>

    <br>

    <div style="padding: 30px 0px 0px 0px;">
    <a href="home.scala.html"><div id="deal1"></div></a>
    <a href="home.scala.html"><div id="deal2"></div></a>
    <a href="home.scala.html"><div id="deal3"></div></a>
    <a href="home.scala.html"><div id="deal4"></div></a>
    </div>
    <!--<a href="home.scala.html"><img src="@routes.Assets.versioned("images/deal.png")" alt="Deals" style="width: 231px; margin-left: 210px; display:inline-block; padding: 30px 10px 0px 0px;"/></a>
    <a href="home.scala.html"><img src="@routes.Assets.versioned("images/deal2.png")" alt="Deals" style="width: 231px; display:inline-block; padding: 30px 10px 0px 0px;"/></a>
    <a href="home.scala.html"><img src="@routes.Assets.versioned("images/deal3.png")" alt="Deals" style="width: 231px; display:inline-block; padding: 30px 10px 0px 0px;"/></a>
    <a href="home.scala.html"><img src="@routes.Assets.versioned("images/deal4.png")" alt="Deals" style="width: 231px; display:inline-block; padding: 30px 10px 0px 0px;"/></a>-->

    <br>

    <div id="emailBar">

    <div id="emailIcon"><img src="@routes.Assets.versioned("images/email.png")" alt="Email Icon" style="width: 50px;"/></div>

    Get our exclusive offers in your inbox!


        <form style="width: 300px; margin-left: 30px; display: inline-block;" action="\entity.CustomerDetails">
            <input type="text" name="Search" class="mytext" style="width: 300px; display: inline-block;" placeholder="Enter your email address">
        </form>

        <input type = "submit" value = "SUBMIT">
    </div>

    </div>

    <br>
    <br>

    <textSetting style="opacity: 1;">

        <!--<img src="@routes.Assets.versioned("images/drift.png")" alt="NANI" style="width: auto; display:block;margin-left: auto; margin-right: auto;"/>
        <br>
        Running in the nineties, is a new way I like to be.<br>
        I'm just running in the nineties, come on baby run to me<br>
        We are running in the nineties, is a new way to set me free.<br>
        I'm just running in the nineties.<br>
        Yes I wanna know, yes I wanna see.<br>
        New desire.<br>
        I need fire.<br>-->

    </textSetting>

</div>

</div>

<div id="footer">


    <a href="home.scala.html" style="padding-right: 15px; padding-left: 0px"><div id="contactUs"></div></a>
    <a href="home.scala.html" style="padding-right: 30px; padding-left: 0px"><div id="helpSupport"></div></a>
    <a href= "https://www.facebook.com"><img src="@routes.Assets.versioned("images/iconfb2.png")" alt="Facebook" WIDTH="40px" HEIGHT="40px" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
    <a href= "Home.html"><img src="@routes.Assets.versioned("images/NBGardens.png")" alt="NB Gardens Logo" WIDTH="auto" HEIGHT="80px" style=" padding-top: 0px;"/></a>
    <a href= "https://twitter.com/"><img src="@routes.Assets.versioned("images/icontw2.png")" alt="Twitter" WIDTH="40px" HEIGHT="40px" style=" padding-bottom: 20px; padding-left: 40px;"/></a>
    <a href="home.scala.html" style="padding-right: 0px; padding-left: 30px"><div id="aboutUs"></div></a>
    <a href="home.scala.html" style="padding-right: 0px; padding-left: 15px"><div id="ourPolicies"></div></a>

    <br>
    <div style="margin-left: 4%;">
    © NB Gardens 2016. All Rights Reserved.
    </div>
</div>



</body>

</html>