@()(implicit flash: Flash, lang: Lang, session : Session)

@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash

@sidebar = {
<ul>
    <li><a href="@routes.BrowseController.categoryList">Categories</a></li>
    <li><a href="@routes.BrowseController.categoryList">Gnomes</a></li>
    <li><a href="@routes.BrowseController.categoryList">Tools</a></li>
    <li><a href="@routes.BrowseController.categoryList">Gardening<br>Supplies</a></li>
    <li><a href="@routes.BrowseController.categoryList">Outdoor<br>Equipment</a></li>
</ul>
}

@main(Messages("home.page"))(sidebar) {
<div style="margin-left: 150px;">
    <div id="homeBanner">
        <a href= "@routes.HomeController.home"><img src="@routes.Assets.versioned("images/banner1.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px; margin-left: 50px;"/></a>
        <a href= "@routes.CatalogueController.catalogue"><img src="@routes.Assets.versioned("images/banner2.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
        <a href= "@routes.HomeController.home"><img src="@routes.Assets.versioned("images/banner3.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
    </div>

    <div class ="line">
    </div>

    <div id="content">

        <a href="@routes.BrowseController.categoryList"><img src="@routes.Assets.versioned("images/gnomeBanner.png")" alt="Fresh Gnomes Str8 from the block." style="width: 1200px; display:block; margin-left: auto; margin-right: auto;"/></a>
        <a href="@routes.BrowseController.categoryList"><img src="@routes.Assets.versioned("images/special2.jpg")" alt="InitialD" style=" width: 474px; display:inline-block; padding: 50px 0px 0px 0px; "/></a>
        <a href="@routes.BrowseController.categoryList"><img src="@routes.Assets.versioned("images/special3.jpg")" alt="Deals" style="width: 474px; display:inline-block; padding: 50px 0px 0px 0px; margin-left: 20px;"/></a>

        <br>

        <div style="padding: 30px 0px 0px 0px;">
            <a href="@routes.BrowseController.categoryList"><div id="deal1"></div></a>
            <a href="@routes.BrowseController.categoryList"><div id="deal2"></div></a>
            <a href="@routes.BrowseController.categoryList"><div id="deal3"></div></a>
            <a href="@routes.BrowseController.categoryList"><div id="deal4"></div></a>
        </div>

        <br>

        <div id="emailBar">

            <div id="emailIcon"><img src="@routes.Assets.versioned("images/email.png")" alt="Email Icon" style="width: 50px;"/></div>

            Get our exclusive offers in your inbox!

            <form style="width: 300px; margin-left: 30px; display: inline-block;" action="\entity.CustomerDetails">
                <input type="text" name="Search" id="success" style="width: 300px; display: inline-block;" placeholder="Enter your email address">
            </form>

            <input type = "submit" class="btn-primary" value = "SUBMIT" onclick="successMessage()">
        </div>
        <br>
        <br>
        <br>
        <br>

        <script>
            function successMessage() {
                document.getElementById("success").value = "You'll be hearing from us soon!";
                document.getElementById("success").style.color = "#006633";
                document.getElementById("success").style.fontFamily = "Raleway";
                document.getElementById("success").style.fontWeight = "600";
            }
        </script>

    </div>
</div>
}

