@(chosenProducts: List[Product])(implicit flash: Flash, lang: Lang, session : Session)

@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import models.{Cart}

@sidebar = {
<ul>
    <li><a href="@routes.BrowseController.categoryList">Categories</a></li>
    <li><a href="@routes.BrowseController.productList("Gnomes")">Gnomes</a></li>
    <li><a href="@routes.BrowseController.productList("Garden Tools")">Tools</a></li>
    <li><a href="@routes.BrowseController.productList("Gardening Supplies")">Gardening<br>Supplies</a></li>
    <li><a href="@routes.BrowseController.productList("Outdoor Equipment")">Outdoor<br>Equipment</a></li>
</ul>
}

@main(Messages("listResult.page.page"))(sidebar) {

<script language="JavaScript">
function getQty(){
var value = get.Qty.value;
value
}
</script>

<div style="margin-left: 150px;">
    <div id="homeBanner">
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner1.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px; margin-left: 200px;"/></a>
        <a href= ""><img src="@routes.Assets.versioned("images/banner2.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner3.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
    </div>
</div>

<div class ="line"></div>

<div id="content" style="height: 1950px;">
    <div class="container_12">
        <div class="title">
            <div class="fontTypeD" style="padding-bottom: 50px;">Search Results</div>
        </div>
        <div class="gallery">
            @for(product <- chosenProducts) {
            <div class="borderGrid">
                <div class="grid_3" style="">
                    <a href="@routes.Assets.versioned(product.mainImage)" class="gal">
                        <div class="img_block" style="padding: 5px 5px 20px 5px;">
                            <img src="@routes.Assets.versioned(product.mainImage)" style="border: 0px solid #717262;" alt="" class="img_inner">
                        </div>
                    </a>
                    <div class="title" name="get" style="text-align: left;">
                        <div style="height: 130px;">
                            <a href="@routes.ProductPageController.goToProduct(product.name)"><dt>@product.name</dt></a>
                            <dt style="font-size: 14px;">Description:

                                @Product.preview(product.description, 35)
                                ...

                            </dt>
                        </div>
                        <dt class="fontTypeB" style="text-align: right; color: #006633; padding: 20px 20px;">£@product.price</dt>

                        <input class="productQuantity" maxlength="2" type="text" value="1" placeholder="Qty." name="Qty"
                               onfocus="if(value =='1'){value =''}" onblur="if(value ==''){value='1'}" >

                        <a href="@routes.CartController.add(product.name, "1")">
                        <input type="submit" class="btn-primary" value="ADD TO CART" style="width:110px;"/>
                        </a>

                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
}
