@(LoginForm: Form[CustomerLogin])(implicit lang: Lang, flash: Flash)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import helper._

@main(Messages("login.form")) {
    <h2>@Messages("login form")</h2>

    @helper.form(action = routes.LoginController.save()) {
        <fieldset>
            <legend>
                @Messages("customer.details", Messages("customer.login"))
             </legend>
            @helper.inputText(LoginForm("email"))
            @helper.inputText(LoginForm("Password"))
        </fieldset>

         <p>
            <input type="submit" class="btn-primary" value='@Messages("submit")'>
        </p>
    }
}