@(LoginForm: Form[CustomerLogin])(implicit flash: Flash, lang: Lang)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import helper._

@sidebar = {
}


@main(Messages("login.page"))(sidebar) {
<br>
<br>
<br>
<br>
<div id="content">
    <h2>@Messages("login form")</h2>
    @helper.form(action = routes.LoginController.save) {
    <fieldset>
        <legend>
            @Messages("customer.details", Messages("customer.new"))
        </legend>
        @helper.inputText(LoginForm("Email"))
        @helper.inputText(LoginForm("Password"))
    </fieldset>
    <p>
        <input type="submit" class="btn-primary" value='@Messages("submit")'>
    </p>
    }
</div>
}