<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet"type="text/CSS" href="@routes.Assets.versioned("stylesheets/websiteStyle.css")" />
    <link rel="stylesheet" href="LoginNormalize.css">
    <link rel="stylesheet" href="LoginStyle.css">
    <title>Login page</title>
</head>

<body>

<div id="menu">

    <a href= "Home.html"><img src="@routes.Assets.versioned("images/NBGardens.png")" alt="NB Gardens Logo" /></a>

    <div id="icons" style="float:right; margin-right:20px; font-size:0px;">

        <a href= "Home.html"><div id="icon1"></div></a>

    </div>
</div>

<div id="sidebar">

    <ul>
        <li><a href="default.asp">Categories</a></li>

    </ul>
</div>

<div id="content">
    <textSetting style="opacity: 1;">
    </textSetting>
    <section class="loginform cf">

    </section>
</div>


<div id="footer">
    <a href= "https://www.facebook.com"><img src="img/iconfb.png" alt="Facebook" WIDTH="40px" HEIGHT="40px" style=" padding-bottom: 10px; padding-right: 40px;"/></a>
    <a href= "Home.html"><img src="img/NBGardens.png" alt="NB Gardens Logo" WIDTH="auto" HEIGHT="70px" style=" padding-top: 15px;"/></a>
    <a href= "https://twitter.com/"><img src="img/icontw.png" alt="Twitter" WIDTH="40px" HEIGHT="40px" style=" padding-bottom: 10px; padding-left: 40px;"/></a>
    <br>
</div>

</body>
</html>-->