@(title: String)(sidebar: Html)(content: Html)(implicit flash: Flash, lang: Lang, session: Session)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import controllers.SearchController



<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/websiteStyle.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/howwude.png")">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/CSS" href="http://fonts.googleapis.com/css?family=Raleway:400,600"/>

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/browseButton.css")">

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/browseGrid.css")">

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/browseStyle.css")">

    <link rel="stylesheet" type="text/css"  media="screen" href="@routes.Assets.versioned("stylesheets/browseTouchTouch.css")">

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/LoginNormalise.css")">

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/LoginStyle.css")">

    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.equalheights.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.mobilemenu.js"></script>
    <script src="js/jquery.ui.totop.js"></script>
    <script src="js/jquery-migrate-1.1.1.js"></script>
    <script src="js/script.js"></script>
    <script src="js/sForm.js"></script>
    <script src="js/superfish.js"></script>
    <script src="js/touchTouch.jquery.js"></script>

    <script src="@routes.Assets.versioned("javascripts/jquery.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery.ui.totop.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/superfish.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/touchTouch.jquery.js")"></script>

    <script>
		$(document).ready(function(){
			$().UItoTop({ easingType: 'easeOutQuart' });
			$('.gallery a.gal').touchTouch();
		})
	</script>
</head>

<body>


<div id="menu">
    <a href= "@routes.HomeController.home()"><img src="@routes.Assets.versioned("images/NBGardens.png")" alt="NB Gardens Logo" /></a>
    @helper.form(action = routes.SearchController.saveSearch) {

    <div id = "searchBar">
        <form action="routes.SearchController.saveSearch">
            <input type="text" name="SearchIN" class="mytext" style="width: 300px;" placeholder="Search.."><br>
        </form>
    </div>

    }
    <div id="searchBarImg"><a href= "@routes.SearchController.saveSearch"><img src="@routes.Assets.versioned("images/search.png")" alt="Search Icon" /></a></div>

    <div id="icons" style="float:right; margin-right:20px; font-size:0px; margin-top: -167px;">
        @if(session.get("username").isEmpty) {
        <a href= "@routes.LoginController.newLogin"><div id="icon1"></div></a>
        } else {
        <a class="icon3" href= "@routes.UserAccountController.userAccount">@session.get("username")</a>

        <a href= "@routes.LoginController.logout"><div id="icon2"></div></a>
        }
        <a href= "@routes.CartController.list"><div id="trolley"></div></a>
    </div>

    <div class="container" style="float: left; display: inline-block; margin-top: -112px; margin-left: 980px; width: 160px; height: 20px;">
        @if(flash.get("success").isDefined){
        <div class="alert alert-success">
            @flash.get("success")
        </div>
        }@if(flash.get("error").isDefined){
        <div class="alert alert-error">
            @if(flash.get("error").contains("0 Results Found..")){
            @flash.get("error")
            }
        </div>
        }
    </div>
</div>

<div id="sidebar"> @sidebar</div>

<div id="pageStart">
</div>

<div id="content"> @content</div>

<div id="footer">
    <a href="@routes.ContactController.contact" style="padding-right: 15px; padding-left: 0px"><div id="contactUs"></div></a>
    <a href="@routes.HelpController.help" style="padding-right: 30px; padding-left: 0px"><div id="helpSupport"></div></a>
    <a href= "https://www.facebook.com"><div id="facebook"></div></a>
    <a href= "@routes.HomeController.home"><div id="nbFooter"></div></a>
    <a href= "https://twitter.com/"><div id="twitter"></div></a>
    <a href= "@routes.AboutController.about" style="padding-right: 0px; padding-left: 30px"><div id="aboutUs"></div></a>
    <a href="@routes.PoliciesController.policies" style="padding-right: 0px; padding-left: 15px"><div id="ourPolicies"></div></a>
    <br>
    <div style="margin-left: 4%;">
        © NB Gardens 2016. All Rights Reserved.
    </div>
</div>

</body>
</html>


