@(products: String, total:Double, cards: Set[CustomerCardDB], payForm: Form[PaymentDetails])(implicit flash: Flash, lang: Lang, session : Session)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import models.{Cart, CustomerCardDB, PaymentDetails}
@import helper._

@sidebar = {
    <ul>
        <li><a href="@routes.BrowseController.categoryList">Categories</a></li>
        <li><a href="@routes.BrowseController.productList("Gnomes")">Gnomes</a></li>
        <li><a href="@routes.BrowseController.productList("Garden Tools")">Tools</a></li>
        <li><a href="@routes.BrowseController.productList("Gardening Supplies")">Gardening<br>Supplies</a></li>
        <li><a href="@routes.BrowseController.productList("Outdoor Equipment")">Outdoor<br>Equipment</a></li>
    </ul>
}

@main(Messages("payment.page"))(sidebar) {
    <div id="content">

        <div class="container_12" style="width: 800px;">

            <div class="title">
                <div class="fontTypeD" style="margin-left: 30px; display: inline;">Payment Details</div>

                <div style="display: inline-block; margin-left: 650px;">
                    <a href="@routes.BrowseController.categoryList"><input type="submit" class="btn-cont" value="CONTINUE SHOPPING" style="width:180px; margin-right: 30px;"/></a>
                </div>

            </div>

            <div id="payform">
                @helper.form(routes.PayController.save(products, session.get("username").toString, total)) {
                    @helper.select(
                        field = payForm("Method"),
                        options = Seq(
                        "Pay Now" -> "Pay Now",
                        "Pay Later" -> "Pay Later"
                        ),
                        '_disabled -> Seq("FooKey", "BazKey")
                    )

                }

                            <div class="fontTypeF" style="font-size: 20px; margin-top: 5px;">Your Saved Payment Cards</div>
                             @for(card <- cards) {


                            <tr>
                                <td>Card Type: <div style="margin-left:100px; display: inline;"><b>@card.cardType</b> </div></td><br/>
                                <td>Card Number: <div style="margin-left:198px; display: inline;"><b>@card.cardNumber</b> </div></td><br/>
                                <td>Expiry Date: <div style="margin-left:171px; display: inline;"><b>@card.expiry</b> </div></td>
                                <td>Name on Card: <div style="margin-left:171px; display: inline;"><b>@card.name</b> </div></td>
                                <td>Select this card: <input type="checkbox" name="cardNumber" value="card"></td>
                            </tr>



            }
            </div>

                    Total: £@total
                    <input type="submit" class="btn-primary" value="PAY" onclick="popupAddMsg('You have successfully placed your order. Please check your emails for confirmation')" style="width:110px; margin-left: 160px;"/>

            </div>
        </div>
    </div>
}