@(product: Product)(implicit flash: Flash, lang: Lang, session : Session)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import models.{Cart}

@sidebar = {
<ul>
    <li><a href="@routes.BrowseController.categoryList">Categories</a></li>
    <li><a href="@routes.BrowseController.categoryList">Gnomes</a></li>
    <li><a href="@routes.BrowseController.categoryList">Tools</a></li>
    <li><a href="@routes.BrowseController.categoryList">Gardening<br>Supplies</a></li>
    <li><a href="@routes.BrowseController.categoryList">Outdoor<br>Equipment</a></li>
</ul>
}

@main(Messages("productPage.page"))(sidebar) {
<div id="content" style="height: 1200px;">

    <div id="productInfo">

        <div class="gallery">
            <div class="grid_3">
                <a href="@routes.Assets.versioned(product.imgL)" class="gal">
                    <div class="img_block" style="width: 350px; height: 350px;">
                        <img src="@routes.Assets.versioned(product.imgS)" alt="" class="img_inner" style="width:350px; height: 350px;">
                    </div>
                </a>
            </div>
        </div>

        <div style="padding: 0px 0px 40px 0; margin-left: 400px; height: 360px;">
            <div id="contactheader" style="padding: 0px 0px 25px 0; margin-left: 0px;">

                @product.name
            </div>

                <div style="height: 1px; margin: 3px; background-color: #444444; opacity: 0.5"></div>

            <div class="fontTypeB" style="padding: 30px 0px;">

                £@product.price

            </div>
            <div class="title" name="get">
                @helper.form(routes.CartController.updateFromPL) {

                <input type="hidden" name="Product" value="@product.name">
                Quantity <input name="Qty" class="productQuantity" maxlength="2" type="text" value="1" placeholder="Qty">
                <input type="submit" class="btn-primary" value="ADD TO CART" style="width:110px;"/>

                }
            </div>
        </div>

        <div class="productDivs">
            <div class="fontTypeA" >Product Description</div>

            @product.description
        </div>

        <div class="productDivs">
            <div class="fontTypeA" >Customer Reviews</div>

            No reviews available for this product.
        </div>

        <div class="productDivs">
            <div class="fontTypeA" >Leave A Review</div>

            <fieldset id="reviewForm">
                <div class="formtext">Your Review: </div><br>
                <textarea name="review" placeholder="Leave a review.."></textarea><br>
            </fieldset>

            <a href="@routes.ProductPageController.goToProduct(product.name)"><input type="submit" class="btn-primary" value="SUBMIT" style="width:100px;"/></a>
        </div>

    </div>
</div>
}
