@(products: List[Product], CartForm: Form[aFormForCart])(implicit flash: Flash, lang: Lang)

@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import models.{Cart}
@import helper._

@sidebar = {
<ul>
    <li><a href= browse >Categories</a></li>
    <li><a href="news.asp">Gnomes</a></li>
    <li><a href="contact.asp">Tools</a></li>
    <li><a href="about.asp">Gardening Supplies</a></li>
    <li><a href="about.asp">Outdoor Equipment</a></li>
</ul>
}

@main(Messages("productList.page"))(sidebar) {

<script language="JavaScript">
    function getQty(){
        var value = get.Qty.value;
        value
    }
</script>


<div id="pageStart">
</div>

<div style="margin-left: 150px;">
    <div id="homeBanner">
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner1.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px; margin-left: 200px;"/></a>
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner2.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner3.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
    </div>
</div>

<div class ="line"></div>

<div id="content">
    <div class="container_12">
        <div class="title">
            <h2 >Our Gallery <a class="button goCart" href="@routes.CartController.list()">My Cart</a></h2>
        </div>
        <div class="gallery">
            @for(product <- products) {
                <div class="grid_3">
                    <a href="@routes.Assets.versioned(product.imgL)" class="gal">
                        <div class="img_block">
                            <img src="@routes.Assets.versioned(product.imgS)" alt="" class="img_inner">
                        </div>
                    </a>
                    <div class="title" name="get">
                        <dt>Name: @product.Name</dt>
                        <dt>Description: @product.description</dt>
                        <dt>Price: @product.price</dt>



                        <input style = "width: 45px; height: 30px" type="text" value="1" placeholder="Qty." name="Qty"
                            onfocus=" value = @CartForm("Qty").value.getOrElse("2")" onblur=" value = @CartForm("Qty").value.getOrElse("3")">

                        <!--@inputText(CartForm("Qty"), 'style->"width: 45px; height: 30px", 'placeholder->"Qty")-->





                        <!--<dl class=" " id="Qty_field">-->
                            <!--<dt>-->
                                <!--<label for="Qty">Qty</label>-->
                            <!--</dt>-->
                            <!--<dd>-->
                                <!--<input type="text" id="Qty" name="Qty" value="" />-->
                            <!--</dd>-->
                        <!--</dl>-->

                        <!--@helper.inputText(CartForm("Qty"))-->


                        <!--<input style = "width: 45px; height: 30px" type="text" value="1" placeholder="Qty." name="Qty"-->
                               <!--onfocus="@CartForm("Qty").value = get.value" onblur="@CartForm("Qty").value = get.value" @helper.input = get.value>-->

                        <!--onfocus="@CartForm("Qty").value = value" onblur="@CartForm("Qty").value.getOrElse("5")">-->

                        <!--onfocus="value = @(CartForm("Qty") -> "6") " onblur="value = @(CartForm("Qty") -> "5")">-->

                        <!--onfocus="if(value =='1'){value =''}" onblur="if(value ==''){value='1'}" >-->

                        <a class="button add" href="@routes.CartController.add(product.Name, CartForm("Qty").value.toString)">Add to Cart</a>

                        <!--<a class="button add" href="@routes.CartController.add(product.Name, CartForm("Qty").value.getOrElse("5"))">Add to Cart</a>-->


                    </div>
                </div>
            }
        </div>
    </div>
</div>

}
