@(product: Product)(implicit flash: Flash, lang: Lang, session : Session)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import models.{Cart}


@sidebar = {
<ul>
    <li><a href= browse >Categories</a></li>
    <li><a href="news.asp">Gnomes</a></li>
    <li><a href="contact.asp">Tools</a></li>
    <li><a href="about.asp">Gardening<br>Supplies</a></li>
    <li><a href="about.asp">Outdoor<br>Equipment</a></li>
</ul>
}

@main(Messages("productPage.page"))(sidebar) {
<div id="content" style="height: 1000px;">

    <div id="productInfo">

        <div class="gallery">
            <div class="grid_3">
                <a href="@routes.Assets.versioned(product.imgL)" class="gal">
                    <div class="img_block" style="width: 350px; height: 350px;">
                        <img src="@routes.Assets.versioned(product.imgS)" alt="" class="img_inner" style="width:350px; height: 350px;">
                    </div>
                </a>
            </div>
        </div>

        <div style="padding: 0px 0px 40px 0; margin-left: 400px; height: 360px;">
            <div id="contactheader" style="padding: 0px 0px 25px 0; margin-left: 0px;">

                @product.Name
            </div>

                <div style="height: 1px; margin: 3px; background-color: #444444; opacity: 0.5"></div>

            <div class="fontTypeB" style="padding: 30px 0px;">

                @product.price

            </div>
            <div class="title" name="get">

                Quantity <input class="productQuantity" type="text" maxlength="2" value="1" name="Qty"
                       onfocus="if(value =='1'){value =''}" onblur="if(value ==''){value='1'}">

                <a href="@routes.CartController.add(product.Name, product.need)"><input type="submit" class="btn-primary" value="ADD TO CART" style="width:130px;"/></a>
            </div>
        </div>

        <div class="productDivs">
            <div class="fontTypeA" >Product Description</div>

            @product.description
        </div>

        <div class="productDivs">
            <div class="fontTypeA" >Customer Reviews</div>

            No reviews available for this product.
        </div>

    </div>
</div>
}
