@(products: List[Product])(implicit flash: Flash, lang: Lang, session : Session)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import helper._
@import models.{Cart}

@sidebar = {
<ul>
    <li><a href="@routes.BrowseController.categoryList">Categories</a></li>
    <li><a href="@routes.BrowseController.categoryList">Gnomes</a></li>
    <li><a href="@routes.BrowseController.categoryList">Tools</a></li>
    <li><a href="@routes.BrowseController.categoryList">Gardening<br>Supplies</a></li>
    <li><a href="@routes.BrowseController.categoryList">Outdoor<br>Equipment</a></li>
</ul>
}

@main(Messages("productList.page"))(sidebar) {

<script language="JavaScript">
function popupAddMsg(msg) {
  alert(msg);
}
</script>

<div style="margin-left: 0px;">
    <div id="homeBanner">
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner1.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px; margin-left: 200px;"/></a>
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner2.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
        <a href= "home.scala.html"><img src="@routes.Assets.versioned("images/banner3.png")" alt="Delivery" style=" padding-bottom: 20px; padding-right: 40px;"/></a>
    </div>
</div>

<div class ="line"></div>

<div id="content" style="height: 1950px;">
    <div class="container_12">
        <div class="title">
            <div class="fontTypeD" style="padding-bottom: 50px;">All Products</div>
        </div>
        <div class="gallery">
            @for(product <- products) {
            <div class="borderGrid">
                <div class="grid_3" style="">
                    <a href="@routes.Assets.versioned(product.imgL)" class="gal">
                        <div class="img_block" style="padding: 5px 5px 20px 5px;">
                            <img src="@routes.Assets.versioned(product.imgS)" alt="" class="img_inner">
                        </div>
                    </a>
                    <div class="title" name="get" style="text-align: left;">
                        @helper.form(routes.CartController.updateFromPL) {
                            <div style="height: 130px;">
                                <a href="@routes.ProductPageController.goToProduct(product.name)"><dt>@product.name</dt></a>
                                <dt style="font-size: 14px;">Description: @product.description</dt>
                            </div>
                            <dt class="fontTypeB" style="text-align: right; color: #006633; padding: 20px 20px;">£@product.price</dt>
                            <input type="hidden" name="Product" value="@product.name">
                            <input name="Qty" class="productQuantity" maxlength="2" type="text" value="1" placeholder="Qty">
                            <input type="submit" class="btn-primary" value="ADD TO CART" onclick="popupAddMsg('This item has been added to your cart')" style="width:110px;"/>
                        }
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
}
