@(registrationForm: Form[CustomerDetails])
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import helper._


<div id="content">

    @main(Messages("registration.form")) {
    <h2>@Messages("registration.form")</h2>
    @helper.form(action = routes.RegistrationController.saveCustomer()) {
    <fieldset>
        <legend>
            @Messages("customer.details", Messages("customer.new"))
        </legend>
        @helper.inputText(registrationForm("First Name"))
        @helper.inputText(registrationForm("Last Name"))
        @helper.inputText(registrationForm("Email"))
        @helper.inputText(registrationForm("Telephone"))
        @helper.inputText(registrationForm("Username"))
        @helper.inputText(registrationForm("Password"))
    </fieldset>
    <p>
        <input type="submit" class="btn-primary" value='@Messages("customer.new.submit")'>
    </p>
    }
    }
</div>
