@(registrationForm: Form[CustomerDetails])(implicit flash: Flash, lang: Lang, session : Session)

@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import helper._

@sidebar = {
}

@main(Messages("registration.page"))(sidebar) {

<div id="content" style="height: 1530px;">

    <div id="contactheader" style="margin-top: -200px; margin-left: -580px;">@Messages("registration.form")</div>
    @helper.form(action = routes.RegistrationController.saveCustomer()) {
    <fieldset id="contactform" style="padding-left: 200px;">
        <legend>
            @Messages("Register your account details.", Messages("customer.new"))
        </legend>
        @helper.inputText(registrationForm("First Name"))
        @helper.inputText(registrationForm("Last Name"))
        @helper.inputText(registrationForm("Email"))
        @helper.inputText(registrationForm("Telephone"))
        @helper.inputText(registrationForm("Username"))
        @helper.inputPassword(registrationForm("Password"))
    </fieldset>

    <div class="container">
        @if(flash.get("success").isDefined){
        <div class="alert alert-success">
            @flash.get("success")
        </div>
        }@if(flash.get("error").isDefined){
        <div class="alert alert-error" style="width: 300px; padding-left: 105px; color: #FF0000; font-family: 'Raleway'">
            @flash.get("error")
        </div>
        }
    </div>
    <p  style="margin-left: -410px;">
        <a href="@routes.PoliciesController.policies">By signing in you agree to NB Gardens' Terms & Conditions.</a>
        <br>
        <input type="submit" class="btn-primary" value='@Messages("customer.new.submit")' style="margin-top: 30px;">
    </p>
    }
</div>
}
