@()(product : Product)(implicit flash:Flash, lang: Lang, session : Session)

@import play.api._
@import play.api.data.Form
@import play.api.data.Forms.{mapping, nonEmptyText}
@import play.api.i18n.Messages
@import play.api.mvc.{Action, Controller, Flash}
@import play.api.Play.current
@import play.api.data.Forms.{longNumber, mapping, nonEmptyText}
@import play.api.i18n.Messages.Implicits._
@import views.html.helper.form

@sidebar = {
<ul>
    <li><a href="@routes.BrowseController.categoryList">Categories</a></li>
    <li><a href="@routes.BrowseController.productList("Gnomes")">Gnomes</a></li>
    <li><a href="@routes.BrowseController.productList("Garden Tools")">Tools</a></li>
    <li><a href="@routes.BrowseController.productList("Gardening Supplies")">Gardening<br>Supplies</a></li>
    <li><a href="@routes.BrowseController.productList("Outdoor Equipment")">Outdoor<br>Equipment</a></li>
</ul>
}

@main(Messages("search.page"))(sidebar) {
<div id="content">
    <div class="container_12">
        <div class="title">
            <h2>Our Gallery</h2>
        </div>
        <div class="gallery">
            <div class="grid_3">
                <a href="images/big1.jpg" class="gal">
                    <div class="img_block">
                        <img src="images/page3_img1.jpg" alt="" class="img_inner">
                    </div>
                </a>
                <div class="title"><a href="#">Vivamus at magna</a></div>
            </div>
        </div>
    </div>
</div>
}
