@(orders: List[Order], total:Double)(implicit flash: Flash, lang: Lang, session : Session)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import models.{Order}
@import helper._


@sidebar = {
}

@main(Messages("trackOrders.page"))(sidebar) {
<div style="height : 900px;">

    <div id="contactheader" style=" padding-top: 50px; margin-left: 100px;">Your Orders</div>

    <div class="accountInfo">
        <div class="fontTypeF">Current Orders</div>
        <div class="fontTypeE" style="display: inline-block;">See & Modify Recent Orders</div>

        @for(order <- orders) {
        <tr>
            <td style="">@order.datetime</td>
            <td style="text-align: right;">@order.ordId</td>
            <td style="text-align: right;">@order.status</td>
        </tr>
        }

        <input type="submit" class="btn-primary" value='Track' style=" display: inline-block; float: right; width: 160px; margin-left: 20px;">
        <div class="fontTypeE" style="float: right;">View, Track or Cancel an Order</div>

        <div class="fontTypeE" style=""><a href="@routes.OrderHistoryController.Track"><br>Track</a></div>
    </div>




    <div class="accountInfo">
        <div class="fontTypeF">Dispatched Orders</div>
        <div class="fontTypeE" style="display: inline-block;">Customer Details: Email, Password, Addresses etc.</div>
    </div>


    <div class="accountInfo">
        <div class="fontTypeF">Closed Orders</div>
        <div class="fontTypeE" style="display: inline-block;">Card & Payment Plan Information</div>
    </div>


</div>
}