@(paymentForm: Form[(String, String, String, String)])(implicit flash: Flash, lang: Lang, session : Session)

@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import helper._
@import scala.concurrent.ExecutionContext.Implicits.global

@sidebar = {
}

@main(Messages("userPayments.page"))(sidebar) {
<div style="height : 1600px;">

    <div id="contactheader" style=" padding-top: 50px; margin-left: 100px;">Your Payments</div>

    <div class="existingDetails">

        @if(CustomerDB.findCustomer(session.get("username").get).cardDetails.isEmpty){

        <div class="detailsheader">No Existing Payment Details<br></div>
        <br>
        Enter your details to save<br> your payment information.

        } else {
        <div class="detailsheader">@Messages("Existing Card Details", Messages("details.request"))<br></div><br>
            @for(payment <- CustomerDB.findCustomer(session.get("username").get).cardDetails){

                @helper.form(action = routes.UserPaymentController.deleteCardDetails(session.get("username").get, payment.cardID)) {

                <div class="detailsusername">Name on Card: <b>@payment.NoC</b><br></div>
                Card Number: <b>@payment.cardType</b><br>
                Card Number: <b>**** **** **** ****</b><br>
                Expiry Date: <b>@payment.expiry</b><br>

                <input type="submit" class="btn-primary" value="DELETE" style="width: 70px; margin-top:40px; margin-bottom:40px;">
                <br>
                }
            }
        }
    </div>

    @helper.form(action = routes.UserPaymentController.updatePayment()) {

    <fieldset class="usernameInput" style="margin-left: 250px;">
        <legend>
            @Messages("Update Payment Details", Messages("details.request"))
        </legend>

        <img src="@routes.Assets.versioned("images/textblock.png")" style=" width: 430px; height: 30px; margin-top:
        -71px; margin-left: -80px;"/>
    </fieldset>

    <fieldset id="contactform" style="margin-left: 250px; margin-top: -30px;">

        @helper.select(
        field = paymentForm("Card Type"),
        options = Seq(
        "Debit" -> "Debit",
        "Credit" -> "Credit"),
        '_default -> "Payment Method..")

        @helper.inputText(paymentForm("Card Number"))
        @helper.inputText(paymentForm("Expiry"), 'placeholder -> "dd/mm/yyyy")
        @helper.inputText(paymentForm("Name on Card"))

    </fieldset>

    <fieldset class="postcodeform" style="margin-left: 1046px;">

    </fieldset>

    <div class="container">
        @if(flash.get("success").isDefined){
        <div class="alert alert-success">
            @flash.get("success")
        </div>
        }@if(flash.get("error").isDefined){
        <div class="alert alert-error">
            @flash.get("error")
        </div>
        }
    </div>
    <input type="submit" class="btn-primary" value='UPDATE DETAILS' style="width: 230px; margin-left: 600px; margin-top: 70px;">
    }
</div>
}