@()(implicit flash: Flash, lang: Lang, session : Session)

@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import helper._

@sidebar = {
}

@main(Messages("userAccount.page"))(sidebar) {
<div style="height : 900px;">

    <div id="contactheader" style=" padding-top: 50px; margin-left: 100px;">Your Account</div>

    <div class="accountInfo">
        <div class="fontTypeF">Orders</div>
        <div class="fontTypeE" style="display: inline-block;">See & Modify Recent Orders</div>

        <input type="submit" class="btn-primary" value='VIEW ORDERS' style=" display: inline-block; float: right; width: 160px; margin-left: 20px;">
        <div class="fontTypeE" style="float: right;">View, Track or Cancel an Order</div>

        <div class="fontTypeE" style=""><a href="#"><br>View Order History</a></div>
    </div>

    <div class="accountInfo">
        <div class="fontTypeF">Update your Account</div>
        <div class="fontTypeE" style="display: inline-block;">Customer Details: Email, Password, Addresses etc.</div>

        <div class="fontTypeE" style="float: right;"><a href="@routes.UpdateAccountController.updateAccount">Account Settings</a></div><br>
        <div class="fontTypeE" style="float: right; padding-top:10px;"><a href="@routes.UserAddressesController.userAddresses">Manage Your Addresses</a></div>

    </div>

    <div class="accountInfo">
        <div class="fontTypeF">Payment Details</div>
        <div class="fontTypeE" style="display: inline-block;">Card & Payment Plan Information</div>

        <div class="fontTypeE" style="float: right;"><a href="@routes.UpdateAccountController.updateAccount">Payment Methods</a></div><br>
        <div class="fontTypeE" style="float: right; padding-top:10px;"><a href="#">Payment Plans</a></div>

    </div>

</div>
}