@(addressForm : Form[(String, String, String, String, String, String, String)])(implicit flash: Flash, lang: Lang, session : Session)

@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@import helper._
@import scala.concurrent.ExecutionContext.Implicits.global

@sidebar = {
}

@main(Messages("userAddresses.page"))(sidebar) {
<div style="height : 1600px;">

    <div id="contactheader" style=" padding-top: 50px; margin-left: 100px;">Your Addresses</div>

    <div class="existingDetails">

        @if(CustomerDB.findCustomer(session.get("username").get).addresses.isEmpty){

        <div class="detailsheader">No Existing Addresses<br></div><br>
            Enter your details to<br>save your address.

        } else {
        <div class="detailsheader">@Messages("Existing Addresses", Messages("details.request"))<br></div><br>
            @for(address <- CustomerDB.findCustomer(session.get("username").get).addresses){

                @helper.form(action = routes.UserAddressesController.deleteAddress(session.get("username").get, address.addressID)) {

                <div class="detailsusername">
                Full Name: <b>@address.fullName</b><br></div>
                Address Line 1: <b>@address.line1</b><br>
                Address Line 2:  <b>@address.line2</b><br>
                Town/City:  <b>@address.townCity</b><br>
                County: <b>@address.county</b><br>
                Postcode: <b>@address.postcode</b><br>

                <input type="submit" class="btn-primary" value="DELETE" style="width: 70px; margin-top:40px; margin-bottom:40px;">
                <br>
                }
            }
        }

    </div>

    @helper.form(action = routes.UserAddressesController.updateAddress()) {

    <fieldset class="usernameInput" style="margin-left: 250px;">
        <legend>
            @Messages("Update Address", Messages("details.request"))
        </legend>

        <img src="@routes.Assets.versioned("images/textblock.png")" style=" width: 430px; height: 30px; margin-top: -71px; margin-left: -80px;"/>
    </fieldset>

    <fieldset id="contactform" style="margin-left: 250px; margin-top: -30px;">

        @helper.inputText(addressForm("Full Name"))
        @helper.select(
        field = addressForm("Address Type"),
        options = Seq(
        "Shipping" -> "Shipping",
        "Billing" -> "Billing"),
        '_default -> "Address Type..")
        @helper.inputText(addressForm("Line 1"))
        @helper.inputText(addressForm("Line 2"))

    </fieldset>

    <fieldset class="postcodeform" style="margin-left: 1046px;">
        @helper.inputText(addressForm("Town/City"))
        @helper.inputText(addressForm("County"))
        @helper.inputText(addressForm("Postcode"))
    </fieldset>

    <div class="container">
        @if(flash.get("success").isDefined){
        <div class="alert alert-success">
            @flash.get("success")
        </div>
        }@if(flash.get("error").isDefined){
        <div class="alert alert-error">
            @flash.get("error")
        </div>
        }
    </div>
    <input type="submit" class="btn-primary" value='UPDATE DETAILS' style="width: 230px; margin-left: 600px; margin-top: 70px;">
    }
</div>
}